<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">

                <div class="card-header">
                    <h1 class="card-title">Ingredients</h1>
                </div>
                <div class="card-body">

                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th colspan="3">Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ingredient : ${recipe.ingredients}">
                                <td th:text="${ingredient.id}">334</td>
                                <td th:text="${ingredient.amount} + ' ' + ${ingredient.uom.getDescription()} + ' ' + ${ingredient.description} + '/show'">Tasty Goodnees 3</td>
                                <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/show/' + ${ingredient.id}}">View</a></td>
                                <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/update/' + ${ingredient.id}}">Update</a></td>
                                <td><a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/delete/' + ${ingredient.id}}">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>