<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Recipe Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    th:href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.0/css/bootstrap.min.js"></script>
</head>
<body>
    <h1 th:text="'Welcome to my Recipe book!'">Recipe Book Index page</h1>
</body>
</html>